body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p, span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#main_container {
    background-color: white;
    max-height: 100%;
}

#title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title {
    text-decoration: none;
    font-weight: bold;
    padding: 0px;
    font-size: 1.7em;
}

.content_font {
    color: #5b6c7b;
    font-size: 1.3em;
}

.main_about {
    padding: 20px;
    text-align: center;
}

.btn {
    background-color: #ffffff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #5b6c7b;
    display: inline-block;
    cursor: pointer;
    color: #5b6c7b;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #ffffff;
    margin-top: 15px;
}

.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #e6eaf0));
    background: -moz-linear-gradient(top, #ffffff 5%, #e6eaf0 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #e6eaf0 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #e6eaf0 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #e6eaf0 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #e6eaf0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#e6eaf0', GradientType=0);
    background-color: #ffffff;
}

.btn:active {
    position: relative;
    top: 1px;
}

#summary_container {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

hr {
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #33485b, rgba(0, 0, 0, 0));
}

.input_box {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    margin: 10px;
}

#input_sentences {
    width: 25px;
}

#summary_container {
    width: 50%;
    margin: auto;
}

#summary_container p {
    color: #5b6c7b;
    font-size: 1.3em;
}

#data_container {
    width: 50%;
    margin: auto;
}

#data_container p {
    color: #5b6c7b;
    font-size: 1.3em;
}

#summary_title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    padding: 0px;
    font-size: 1.7em !important;
    margin: 0px 10px 10px 0px;
}

.no_decor {

    color: #5b6c7b;

}

#author {
    color: #5b6c7b;
}